<%= form_tag user_answers_path, class: "survey-question-form" do %>
  <div class="question">
    <h2><%= @question.content %></h2>
  </div>
  <% @question.answers.each do |answer| %>
    <div>
      <%= submit_tag answer.content, name: 'content', class: 'answer' %>
    </div>
  <% end %>
<% end %>
