<%= form_tag question_answers_path(@question), class: "survey-question-form" do %>
  <div class="question">
    <h2><%= @question.content %></h2>
  </div>
  <ul>
    <% @question.answers.each do |answer| %>
      <li>
        <%= submit_tag answer.content, name: 'content', class: (@question.answer_for(current_user) == answer ? 'answer selected' : 'answer') %>
      </li>
    <% end %>
  </ul>
<% end %>
