<%= form_tag '/trips', method: 'post' do %>
  <div id="trip">
    <div class="field">
      <%= text_field_tag :origin, nil, placeholder: "Origin" %>
    </div>
    <div class="field">
      <%= text_field_tag :destination, nil, placeholder: "Destination" %>
    </div>
    <div class="actions">
      <%= submit_tag 'My Way' %>
    </div>
  </div>
<% end %>
