<%= form_tag '/trips', method: 'post' do %>
  <div id="trip">
    <div class="field" >
      <%= text_field_tag :origin, nil, placeholder: "Origin", id: 'origin' %>
    </div>
    <div class="field">
      <%= text_field_tag :destination, nil, placeholder: "Destination" %>
    </div>
    <div class="home_submit">
      <%= submit_tag 'GO!' %>
    </div>
  </div>


<% end %>
    <button onclick="getLocation()">Current Location</button>
