.ui.form.registration{
  margin-top: 1em;
}
.ui.negative.message{
  padding-bottom: .25em;
  margin-bottom: 0;
}


.field.registration{
  width: 100%;
  margin-bottom: 1em;
}

#new_user #login-create{
  margin-left: 0px;
}

#login #login-create{
  margin-left: 0px;
}

