#trip-info p{
  text-align: center;
  font-size: 175%;
}

#show-result{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: transparent;
}

#choice-0 a{
  text-decoration: none;
}

.results a{
  text-decoration: none;
  color: white;
}
.hidden a{
  text-decoration: none;
  color: white;
}

/*.results{
  position: fixed;
  bottom: 0;
}*/

#show-more a{
  color: black;
}
