#trip-info p{
  text-align: center;
  font-size: 175%;
}
#trip-info a{
  text-decoration: none;
}

#trip-info{
  margin-top: 0;
}

#results-div{
  padding-bottom: 0;
}

#show-result{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: transparent;
}

.results a{
  text-decoration: none;
  color: white;
}

.hidden{
  width: 100%;
}

.hidden a{
  text-decoration: none;
  color: white;
}

/*.results{
  position: fixed;
  bottom: 0;
}*/

#show-more{
  color: black;
}

#mode-choice{
  margin-bottom: 0;
}

#nav-menu{
  margin-bottom: 0;
}

.route-info {
  margin: 0%;
  display: inline-block;
}

.dollars-left{
  float: left;
  width: 33%;
}

.time-middle{
  float: left;
  width: 33%;
}

.mode-right{
  width: 33%;
}

.spacer{
  width: 0.5%;
}

.ui.button.route-div{
  padding: 0.8em 0.5em;
}
