#trip-info p{
  text-align: center;
  font-size: 175%;
}

#choice-0 a{
  text-decoration: none;
  color: green;
}
#choice-1 a{
  text-decoration: none;
  color: yellow;
}
#choice-2 a{
  text-decoration: none;
  color: red;
}
#show-result{
  clear: both;
  overflow: hidden;
}

.hidden a{
  text-decoration: none;
  color: red;
}

#show-more {
  text-align: center;
  font-size: 500%;
  border: 3px #D3D3D3 solid;
  width: 900px;
  height: 100px;
  background-color: rgba(1, 1, 1, 0.8);
  color: #D3D3D3;

}

#show-more a {

}