body {
  background: image-url("chicago.png") no-repeat center center fixed;
  -webkit-background-size: contain;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
  padding:0;
  margin:0;
}

.site-content{
  margin: 0%;
  text-align: center;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
#directions{
  text-align: center;
  color: white;
  font-size: 110%
}
.whitelist-text{
  text-align: center;
  color: white;
  font-size: 110%

}
.inner-contain{
  margin-top: -20%
}
.container {
  text-align: center;
  width: 100%;
  margin: 0% ;
  padding: 0%;
}

.ui.blue.label {
  margin-left: 0;
}

.form {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 25%;
}

.fields-container{
  text-align: center;
  margin-bottom: 5%
}



#home_submit > input {
  margin-top: 7%;
  background-color: #82BF32;
  width: 80%;
  padding: 10px 10px 10px 10px;
}

a.item{
  clear: both;
}
div.field-origin {
  margin-bottom: 1%;

}

div.field-destination {
  margin-top: 1%;
  margin-bottom: 5%;
}


#origin{
  width: 80%;

}
#puppet-field{
  width: 80%;

}

#destination {
  width: 80%;
}

#password {
  width: 90%;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
}

#email {
  width: 90%;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;

}


/*#current-location.ui.button{
  margin-top: 25%;
  margin-left: 16%;
  color: white;
  background-color: #3C3C3C;
  font-size: 65%;
}*/

.white-wrapper{
  margin-top: 2%;
  text-align: center
}

#checkbox.ui_button{
  display: inline;
}



#checkbox{
width: 22%;
opacity: 0.7;
padding: 10px 10px 10px 10px;
margin: 0.5% 0.5% 0.5% 0.5%;
color: #3C3C3C;
font-family: 'Open Sans', sans-serif;
}

#home_submit {
  margin-left:auto;
  margin-right:auto;

}

#home_submit.ui_button {
background-color: #7fbc2d;
}

.left.menu {
  margin-left: -5%;
}

#login > input {
  margin-top: 5%;
  width: 50%;
  margin-left: 22%;
  padding: 10px 10px 10px 10px;
}

.login_form {
  margin-top: 25%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.field {
  width: 80%;
  padding:-20px;
  margin-bottom:-20px;
  margin-left: -20%;

}

.current-location{
  margin-bottom: 1em;
}

#current-location{
  border: solid teal 2px;
  color: teal;
}
.create_user {

padding-left: 30%;
margin-top: 20%;
}

#error_explanation {
  color: red;
  font-family: 'Open Sans', sans-serif;
}

#error_explanation  ul li {
    list-style-type: none;
  }

  #new_user > div.actions > input[type="submit"]{
    margin-top: 5%;
    width: 50%;
    margin-left: 22%;
    padding: 10px 10px 10px 10px;
}

body > div > div.ui.inverted.menu > div.left.menu > a > img{
  margin-left: 50%;
}

.checkdiv input{
  pointer-events: none;
}

.hide-me {
  display: none;
}

#formula-pop-up {
  position: absolute;
  right: 0;
  left: 0;
  margin: 10% auto;
  height: 50%;
  width: 80%;
  z-index: 10;
}
