body {
  background: image-url("chicago.png") no-repeat center center fixed;
  -webkit-background-size: contain;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding:0;
  margin:0;
}

.form{
  margin-top: 25%;
  padding:0;
}




#home_submit > input {
  margin-top: 7%;
  background-color: #82BF32;
  width: 80%;
  padding: 10px 10px 10px 10px;
}

.flash {
  color: red;
  float: right;
  font-size: 100%;
  font-family: 'Chango', cursive;
  margin-right: 5%;
}

a.item{
  clear: both;

}
div.field-origin {
  margin-left: 4%;
  margin-right: 5%;
  margin-bottom: -1%;

}

div.field-destination {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
}


#origin{
  width: 80%;
}

#destination {
  width: 81%;
}

#current-location{
  margin-left: 12%;
  margin-bottom: -1%;
  width: 80%;
}

#current-location.ui.button{
  text-align: center;
  color: white;
  background-color: #3C3C3C;
  font-size: 65%;
  padding: 0;
}

#home_whitelist{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 85%;
}

#checkbox.ui_button{
  display: inline;
}

#checkbox{
width: 48%;
opacity: 0.7;
padding: 10px 10px 10px 10px;
margin: 0.5% 0.5% 0.5% 0.5%;
color: #3C3C3C;
font-family: 'Open Sans', sans-serif;
}

#home_submit {
  margin-left: 15%;

}

#home_submit.ui_button {
background-color: #7fbc2d;
}

.left.menu {
  margin-left: -5%;
}



