
.survey-footer{
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background:#999;
   text-align: center;
   padding-top: 1em;
}

.survey-footer a{
  text-decoration: none;
  color: white;
  float: right;
  padding-right: 1em;
}

.survey-footer span{
  text-decoration: none;
  color: white;
  float:left;
  padding-left: 1em;
}

#answer{
  display: inline-block;
  background-color: #76B820;
  color: white;
  border-radius: 3%;
  width: 100%;
  height: 2.5em;
  border-color: white;
  font-family: sans-serif;
  font-size: 100%;
  word-wrap: normal;
}
#answer > input{
  word-wrap: normal;
}
#selected-answer{
  word-wrap: normal;
  font-family: sans-serif;
  height: 2.5em;
  display: inline-block;
  border-radius: 3%;
  background-color: white;
  border-color: #76B820;
  color: #76B820;
  width: 100%;
  font-size: 100%;
}
#selected-answer > input{
  word-wrap: normal;
}
#question-asked{
  word-wrap: normal;
  margin-bottom: 2em;
}

.answers{
  margin-top: 2em;
}

.ans{
  margin-top: .5em;
  width: 100%;
}

#encouragement{
  margin-top: 4em;
  margin-bottom: 4em;
}
