.answer {
  background-color: #393834;
  color: white;
  width: 95%;
}

.selected {
  background-color: green;
  color: white;
  border: 2px black solid ;
}

li {
  list-style-type: none;
  width: 85%;
}

li input[type=submit] {
  list-style-type: none;
  width: 85%;
}



.ans {
  width: 85%;
  border: 2px white solid ;
  padding:15px 15px 15px 15px;
  color: white;
  background: #393834;
  margin-left: 2%;

}

h3 {
  width: 95%;
  border: 2px white solid ;
  padding:15px 15px 15px 15px;
  color: white;
  background: #393834;
  margin-bottom: -2%;

}


