
.survey-footer{
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background:#999;
   text-align: center;
   padding-top: 1em;
}

.survey-footer a{
  text-decoration: none;
  color: white;
  float: right;
  padding-right: 1em;
}

.survey-footer span{
  text-decoration: none;
  color: white;
  float:left;
  padding-left: 1em;
}

#answer-content{
  display: inline-block;
}

#question-asked{
  margin-bottom: 2em;
}

.answers{
  margin-top: 2em;
}

.ans{
  margin-top: .5em;
  width: 100%;
}

#encouragement{
  margin-top: 4em;
  margin-bottom: 4em;
}
